* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #c5dbd4;
  background-color: #221e31;
}

.editor {
  display: flex;
}

textarea,
.editor div {
  display: inline-block;
  width: 50vw;
  height: 70vh;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 20px;
  overflow: scroll;
}

input {
  border: none;
  color: #c5dbd4;
  width: 100%;
  border-bottom: 1px solid #c5dbd4;
  background-color: transparent;
}

textarea {
  border: none;
  color: #c5dbd4;
  resize: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  font-family: "Monaco", courier, monospace;
  padding: 20px;
}

code {
  width: 100%;
  display: block;
}